
#work-100px {
  max-height: 100px;
  max-width:100px;
}

.margin {
  margin-bottom: 10px;
}
.hang-glide-background {
  background-color: #f7f9f7;
}



.footer-div {
  height:70px;
  background-color: gray;
}

#splash-page {
  text-align: center;
  display:flex;
  justify-content:center;
  align-items: center;
  height: 700px;
  background-image: url(assets/bike-backround-2.jpg);
  background-size: 100%;
  color: white;
  }

  #work {
  height: 900px;
  background-size: 100%;
  margin-top:-60px;
  }



.miniPic {
  margin-top: -12px;
  margin-left: -10px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}


#bannerPic {
	background-image: url("felt.jpg");
background-size: 25%; 
  
  } 

.navbar-inverse {
    background: rgba(0, 0, 0, 0.5);
    border:none;
}

.navbar .nav > li > a {
    float: none;
    color: #ECECEC;
}
.navbar .nav > li > a:hover {
    float: none;
    color: white;
}

label {
  font-size: 1.25em;
}



.bgimage {

}

.bgimage-inside {
  padding-top:37.36%;
}


.bike-pics {
  max-height: 170px; 
  max-width: 300px;
  border-radius: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.family {
  max-height: 77px;
  max-width: 77px;
  border-radius: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}





nav .active {
  font-weight: bold;
  background: green;
}

nav {
  background-color: white;
}
