<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Bartek Ringwelski</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   <!-- Custom themes to override bootstap -->
   <link rel="stylesheet" href="style.css">
   <!-- Loading jQuery -->
   <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container-fluid">
            <a class="navbar-brand" href="#">
            </a>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="#section1">about</a></li>
               <li><a href="#section2">send a candle</a></li>
               <li><a href="#section3">faq</a></li>

				<li><% if current_user %>
					Signed in as <%= current_user.email %>. Not you?
					<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
					<% else %>
					<%= link_to "sign-up", new_user_registration_path %> 
					<li><%= link_to "sign in", new_user_session_path %></li>
					<% end %></li>

	<% flash.each do  |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>

          </ul>
         </div>
         </div>
 </nav>

      <!--Div for splash page -->
      <div id="splash-page" class="jumbotron">
         <div class="container" class="row">
          <div class="col-sm-6">
            <%= image_tag "logo_stacked_white.png" %>
            <h2 id="white-h3">Candles for Horrible People</h2>
           </div>
           <div class="col-sm-6" align="center"></div>
           <h1>"Best.Prank.Ever. ANDY WAS HERE"</h1>
          </div>
       </div>

<!--- div for what is revenge candle -->
      <div id="section1">
         <div class="container">     
                  <div class="row">      
                        <div class="col-md-8">
				            <h1> What is a Revenge Candle?</h1>
				            <p> A Revenge Candle is the glitter bomb of home decor gifting.  From the outside, it looks and smells like a candle. The first five minutes of burn smells like pomegranate. Then the fun begins.  A smell of rotten eggs will fill the home of your victim. WHile totally safe, it'll smell like crap.</p>

				            <p>Your victim will need to burn it all the way down to reveal your secret message at the bottom of the candle before they find out who it's from (you), though that is optional. </p>
				        
					        <div align ="center">
								<a href ="#section2" button type="button" class="btn btn-primary btn-lg">Get Revenge (order)</button> </a>
								<a href="#section3" button type="button" class="btn btn-default btn-lg"> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"> </span> Learn More	</button> </a>
					        </div>

						</div>
				        <div class="col-md-4">
		                   <%= image_tag "shorter_candle_with_words.png" %>
		                </div>
                </div>      
         </div>
	    <br>
     </div>

<!--Div for order page -->
     <div class="light-green-background" id="section2">
         <div class="container">
            <h1> Send a Revenge Candle</h1>
				<div class="row"><h3>
				  <div class="col-xs-12 col-md-8">Victim Address & Message</div>
				  <div class="col-xs-6 col-md-4">Your Payment</div>
				</div> </h3>


				<%= form_for @order do |f| %>

				<div class="row">
				  <div class="col-xs-4 col-md-4">
							<div class="form-group">
							  <label for="message">Message to your Victim</label>
							   <%= f.text_area :revenge_message, class: "form-control", rows: 10 %><br />
						    </div>	
				  </div> 

				  <div class="col-xs-4 col-md-4">

				  		<div class="row">
							<div class="form-group col-xs-6">
							  <label for="first-name"> Victim First Name</label>
							   <%= f.text_field :victim_first_name, class: "form-control" %><br />
							 </div>

							<div class="form-group col-xs-6">
							  <label for="last-name"> Victim Last Name</label>
						   		<%= f.text_field :victim_last_name, class: "form-control" %><br />
						    </div>	
						 </div>

						 <div class="form-group">
							  <label for="address">Mailing Address</label>
						   		<%= f.text_field :address1, class: "form-control" %><br />
						 		<%= f.text_field :address2, class: "form-control" %><br />
						 </div>

				  		<div class="row">

							<div class="form-group col-xs-6">
							  <label for="first-name"> State</label>
							   <%= f.text_field :state, class: "form-control" %><br />
							 </div>

							<div class="form-group col-xs-6">
							  <label for="last-name"> Zip</label>
						   		<%= f.text_field :zip, class: "form-control" %><br />
						    </div>	
						 </div>
				</div>


				  <div class="col-xs-4 col-md-4">
						<form action="" method="POST" id="payment-form">
						  <span class="payment-errors"></span>

						  <div class="form-row">
						    <label>
						      <span>Card Number</span>
						      <input type="text" size="20" data-stripe="number" class="form-control"/>
						    </label>

						    <label>
						      <span>CVC</span>
						      <input type="text" size="4" data-stripe="cvc" class="form-control"/>
						    </label>
						  </div>

						  <div class="form-row">
						    <label>
						      <div>Expiration (MM/YYYY)</div>
						 
						  
						      <input type="text" size="4" data-stripe="exp-month" class="form-control small"/>
						      /
						  
						    <input type="text" size="4" data-stripe="exp-year"class="form-control small"/>
								   </label>
						  </div>

						  <br>

						  <%= f.submit "Send candle & pay", class:"btn btn-primary btn-lg"%>

						 <% end %>

						</form>

				  </div> 
<br>
				</div>
			</div>
	</div>

	
<!--Div for faq page -->
     <div id="section3">
         <div class="container">
            <h1> Questions Horrible People Ask</h1>
            <h3> Is this for real?</h3>
            <p> Unfortunately, yes.</p>

          <h2> What does it smell like?</h2>
            <p>First five minutes is "pomegranate spice" (I made that up). After that, it smells like rotten eggs. </p>

            <h3> Hwo long does the candle last?</h3>
            <p> Pretty long - about 2 hours.</p>

            <h3> Will they know it's from me?</h3>
            <p> You can send them a message and identify youre self.  Your message will be put at the bottom of the candle, but they'll have to burn the whole thing before they discover who it's from. The box just says "Barte' Candle Company"</p>
                      
            <h3> How much does it cost?</h3>
            <p> $10 bucks for the candle + $5 shipping</p>
            
            <h3> How much of this goes to charity?</h3>
            <p> 0.0%</p>
            
            <h3>Is it safe?</h3>
            <p> Medically speaking, this is 100% all natural.  Nasily speaking, it's not safe for your senses.</p>

            <h3> How long does shipping take?</h3>
            <p>I made 24 candles and will ship those out within a couple of days.  If this thing blows up, I'll make more candles.  In short, it'll take < 7 days for your victim to get their candle.</p>
         </div>
     </div>


<!--begin footer-->
    <div class="footer-div" id="section5">
      <div class="container">
          <center><ul>
            <li> contact me: </li>
            <li> <a href = "https://www.facebook.com/bartekr?_rdr=p">facebook</a> |</li>
            <li> <a href = "https://twitter.com/bartekr">twitter</a> |</li>
            <li> <a href = "https://www.linkedin.com/in/bartekringwelski1">linkedin</a> |</li>
            <li> <a "mailto:bartekr@gmail.com"> email</a> </li>
          </ul></center>
      </div>
    </div>



    <script src="app.js"></script>

   </body>
</html>
