
.miniPic {
  margin-top: -12px;
  margin-left: -10px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}


#bannerPic {
	background-image: url("felt.jpg");
	height:500px;
} 

.navbar-inverse {
    background: rgba(0, 0, 0, 0.5);
    border:none;
}

.navbar .nav > li > a {
    float: none;
    color: #ECECEC;
}
.navbar .nav > li > a:hover {
    float: none;
    color: white;
}

